<footer>
  <div class="columns-container">
    <img src="img/logo-white.png" alt="" />
    <div>
      <h3>artistes</h3>
      <p>alpha wann</p>
      <p>hologram lo'</p>
      <p>infinit</p>
      <p>huntril</p>
      <p>h jeune crack</p>
      <p>jungle jack</p>
    </div>

    <div>
      <h3>navigation</h3>
      <p>artistes</p>
      <p>albums</p>
      <p>évènements</p>
      <p>qui sommes nous</p>
      <p>contact</p>
    </div>

    <div>
      <h3>newsletter</h3>
      <p>suivez-nous</p>
      <div>e-mail</div>
      <button>s'abonner</button>
    </div>
  </div>
</footer>
