<footer>
  <div class="columns-container">
    <img src="img/logo-white.png" alt="" />
    <div class="single-column">
      <h3>artistes</h3>
      <a href="index.html">alpha wann</a>
      <a href="index.html">hologram lo'</a>
      <a href="index.html">infinit</a>
      <a href="index.html">huntril</a>
      <a href="index.html">h jeune crack</a>
      <a href="index.html">jungle jack</a>
    </div>

    <div class="single-column">
      <h3>navigation</h3>
      <a href="index.html">artistes</a>
      <a href="index.html">albums</a>
      <a href="index.html">évènements</a>
      <a href="index.html">qui sommes nous</a>
      <a href="index.html">contact</a>
    </div>

    <div>
      <h3>newsletter</h3>
      <p>suivez-nous!</p>
      <form action="/submit" method="post">
        <input
          type="email"
          name="email"
          placeholder="enter your email"
          required
        />
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</footer>
