* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

body {
  background-image: url(../img/background-homepage-image.jpg);
  background-attachment: fixed;
  font-family: maxular, serif;
  font-weight: 300;
  color: white;
  width: 100vw;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 200px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
  text-transform: uppercase;
  align-items: center;
  position: fixed;
  z-index: 999;
  width: 90%;
}

header img {
  height: 80px;
  filter: drop-shadow(2px 2px 10px rgb(48, 48, 48));
}

section h2 {
  font-family: swiss-721-bt;
  font-size: 32px;
  text-transform: uppercase;
  margin: 30px 0 30px 80px;
}

.navigation {
  display: flex;
  gap: 20px;
}

.nav-element {
  padding: 13px 26px 16px;
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5;
  text-decoration: none;
  height: fit-content;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.black-button {
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.titre {
  font-family: swiss-721-bt-outline, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 8vw;
  font-weight: 900;
  padding-top: 90px;
  position: relative;
  z-index: 10;
}

.plein-titre {
  font-family: swiss-721-bt, sans-serif;
  font-weight: 900;
}

.citation {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 5px;
}

.citation-container {
  display: flex;
  justify-content: center;
  padding: 200px 0;
  margin-top: 35vw;
}

.citation h2 {
  font-family: swiss-721, sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 40px;
}

.album-recent img {
  height: 25vw;
}

.sorties-recentes-albums {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.sorties-recentes-albums::-webkit-scrollbar {
  display: none;
}

.section-nos-sorties-recentes div:first-child {
  padding-left: 80px;
}

.section-artists {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 94%,
    #9b000000 94%
  );
  color: black;
  display: flex;
  flex-direction: column;
}

.artist-card {
  display: flex;
  height: auto;
  margin: 0 auto;
  padding: 0 max(80px, 5%);
  max-width: 1277px;
}

.artist-card img {
  object-fit: cover;
  width: 50%;
  flex: 1 1 50%;
}

.image-right {
  flex-direction: row-reverse;
}

.image-right .artist-card-content {
  margin: auto 70px auto 0;
}

.artist-card-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto 0 auto 70px;

  flex: 1 1 50%;
}

.artist-card-content p {
  font-weight: 200;
  font-size: 18px;
}

.artist-card-content h1 {
  font-family: swiss-721-bt-outline, sans-serif;
  text-transform: uppercase;
  font-size: 54px;
}

.bouton-decouvrir-artiste {
  border: solid rgb(0, 0, 0) 2px;
  border-radius: 25px;
  width: fit-content;
  height: fit-content;
  padding: 12px 25px 15px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  background-color: white;
  margin-top: 30px;
}

.center-text {
  text-align: center;
  margin-top: 20px;
}

.papier-separation {
  width: 100vw;
}

.background-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  position: absolute;
}

.background-grid video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.all-albums {
  margin: 0 80px;
}

.all-albums {
  display: flex;
  flex-wrap: wrap;
}

.div-album {
  flex-basis: 25%;
}

.div-album img {
  width: 100%;
}

.section-concerts-artist {
  margin-bottom: 300px;
}

.all-concerts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 80px;
}

.concert-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}

.concert-card:not(:last-of-type) {
  border-bottom: 1px solid #ffffff;
}

.concert-card a {
  color: black;
  background-color: white;
  padding: 10px 50px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.artist-name {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.concert-date,
.concert-location {
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
}

.section-qui-sommes-nous {
  margin-top: -80px;
  width: 829px;
  margin: 0 auto 200px;
}

.section-qui-sommes-nous h2 {
  margin-left: 0px;
}

footer {
  background-color: black;

  font-size: 16px;
}

footer h3 {
  color: #acabab;
  font-family: swiss-721-bt, sans-serif;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.3px;
  font-size: 10px;
}

.columns-container {
  display: flex;
  justify-content: space-between;
  padding: 60px 80px;
  text-transform: uppercase;
}
footer img {
  height: 80px;
}

.single-column {
  display: flex;
  flex-direction: column;
}

.single-column a {
  text-decoration: none;
}

.columns-container > div:nth-child(4) p {
  text-transform: lowercase;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

input[type="email"] {
  padding: 10px 15px 12px;
  border-radius: 0px;
  font-family: maxular;
  font-size: 14px;
  border: none;
  margin-top: 7px;
}

form button {
  background: none;
  color: white;
  border: solid white;
  border-radius: 5px;
  padding: 8px 15px 9px;
  width: fit-content;
}

/*page artiste*/

.artist-hero {
  display: flex;
  margin: 0 80px;
  padding-top: 200px;
  justify-content: space-between;
}

.artist-hero img {
  height: 520px;
}

.artist-hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 40px;
}

.artist-hero-content h1 {
  font-family: swiss-721-bt, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #e65828;
  font-size: 80px;
  margin-bottom: 30px;
}

.artist-hero-content > div:nth-child(2) {
  display: flex;
  padding-right: 10px;
  gap: 10px;
}

.orange-hover {
  padding-right: 10px;
}

.orange-hover:not(:last-child) {
  border-right: 1px solid #ffffff;
}

.artist-hero-content a {
  text-decoration: none;
}

.section-all-albums-artist {
  margin: 90px 80px;
}

.section-all-albums-artist h2 {
  margin: 0 0 30px;
}

.albums-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: auto;
  width: 100%;
}

.albums-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.orange-text {
  color: #e65828;
}

/*hover*/

.nav-element:hover,
.concert-card a:hover {
  background: none;
  color: rgb(255, 255, 255);
  box-shadow: inset 0 0 0 2px #ffffff;
}

.black-button:hover {
  background: none;
  color: #e65828;
  box-shadow: inset 0 0 0 2px #e65828;
}

.bouton-decouvrir-artiste:hover {
  background-color: orangered;
  border: solid black 2px;
  text-decoration: none;
}

.orange-hover:hover {
  color: #e65828;
}
.columns-container div a:hover {
  color: #e65828;
}

form button:hover {
  color: #e65828;
  border: solid #e65828;
}
